scripts/
modules/__pycache__/
modules/common/__pycache__
modules/dataset_module/deprecated/
modules/dataset_module/datasets/
modules/dataset_module/__pycache__
modules/nn_module/deprecated/
modules/nn_module/__pycache__
Output/
venv/